<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trav.traveltogether">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelTogether">
        <activity android:name="com.trav.traveltogether.ChatActivity"></activity>
        <activity android:name="com.trav.traveltogether.ProfileActivity" />
        <activity android:name="com.trav.traveltogether.PostActivity" />
        <activity android:name="com.trav.traveltogether.RegisterActivity" />
        <activity android:name="com.trav.traveltogether.HomeActivity" />
        <activity android:name="com.trav.traveltogether.MyProfileActivity" />
        <activity android:name="com.trav.traveltogether.ChatsActivity" />
        <activity android:name="com.trav.traveltogether.AddTripActivity" />
        <activity android:name="com.trav.traveltogether.MyTripsActivity" />
        <activity android:name="com.trav.traveltogether.LoginActivity" />
        <activity android:name="com.trav.traveltogether.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>